## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from keras.callbacks import Callback

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Dropping the 'EIN' column, and swapping the drop column of 'NAME', dropping instead 'USE_CASE', 
# to improve performance of model
application_df.drop(["EIN", "USE_CASE"], axis=1, inplace=True)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
uniqueValues = application_df.nunique()
print(uniqueValues)

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at Name count for binning, since it appears to be likely of interest
name_count = application_df['NAME'].value_counts()
name_count.head()

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
Name: NAME, dtype: int64

In [5]:
# Cutoff value selected of 10, to focus on those applications with ten or more applications. Create a list of Names

names_to_replace = list(name_count[name_count <10].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was success
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [6]:
# Continue as before: Look at APPLICATION_TYPE value counts for binning
app_count = application_df['APPLICATION_TYPE'].value_counts()
print(app_count)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:

# use the variable name `application_types_to_replace` with <1000
application_types_to_replace = list(app_count[app_count <1000].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was success
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced of <1000

classifications_to_replace = list(classification_count[classification_count <1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_df = pd.get_dummies(application_df)
numeric_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
y = numeric_df["IS_SUCCESSFUL"].values

X = numeric_df.drop(["IS_SUCCESSFUL"], axis='columns').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  90
hidden_nodes_layer2 = 30


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 90)                23310

 dense_9 (Dense)             (None, 30)                2730

 dense_10 (Dense)            (None, 1)                 31

=================================================================
Total params: 26071 (101.84 KB)
Trainable params: 26071 (101.84 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [24]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [30]:
# Train the model (Adding in here the saving weights every 5 epochs - code thanks to umotto on : 
# https://stackoverflow.com/questions/51186330/save-model-weights-at-the-end-of-every-n-epochs), also 
# https://medium.com/@italojs/saving-your-weights-for-each-epoch-keras-callbacks-b494d9648202
# Increased the epochs to 75

mc = keras.callbacks.ModelCheckpoint('my_best_model.hdf5', 
                                     save_weights_only=True, period=5)


fit_model = nn.fit(X_train_scaled,y_train,epochs=75, callbacks=[mc])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5058 - accuracy: 0.7925
Epoch 2/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5038 - accuracy: 0.7925
Epoch 3/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5014 - accuracy: 0.7912
Epoch 4/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5028 - accuracy: 0.7927
Epoch 5/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5012 - accuracy: 0.7907
Epoch 6/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4983 - accuracy: 0.7918
Epoch 7/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4939 - accuracy: 0.7927
Epoch 8/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5047 - accuracy: 0.7881
Epoch 9/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5010 - accuracy: 0.7918
Epoch 10/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5039 - accuracy: 0.7891
Epoch 11/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5007 - accuracy: 0.7923
Epoch 12/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4900 - accuracy: 0.7916
Epoch 13/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4938 - accuracy: 0.7897
Epoch 14/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5024 - accuracy: 0.7894
Epoch 15/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5001 - accuracy: 0.7896
Epoch 16/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4980 - accuracy: 0.7929
Epoch 17/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4915 - accuracy: 0.7922
Epoch 18/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5008 - accuracy: 0.7835
Epoch 19/75
804/804 [==============================] - 3s 3ms/step - loss: 0.4923 - accuracy: 0.7912
Epoch 20/75
804/804 [==============================] - 3s 4ms/step - loss: 0.4847 - accuracy: 0.7917
Epoch 21/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4875 - accuracy: 0.7937
Epoch 22/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4956 - accuracy: 0.7935
Epoch 23/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4865 - accuracy: 0.7923
Epoch 24/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4865 - accuracy: 0.7923
Epoch 25/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4860 - accuracy: 0.7905
Epoch 26/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4872 - accuracy: 0.7934
Epoch 27/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4843 - accuracy: 0.7934
Epoch 28/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4849 - accuracy: 0.7918
Epoch 29/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4854 - accuracy: 0.7935
Epoch 30/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4859 - accuracy: 0.7924
Epoch 31/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4858 - accuracy: 0.7913
Epoch 32/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4854 - accuracy: 0.7897
Epoch 33/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4849 - accuracy: 0.7926
Epoch 34/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4775 - accuracy: 0.7861
Epoch 35/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4918 - accuracy: 0.7902
Epoch 36/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4858 - accuracy: 0.7915
Epoch 37/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4767 - accuracy: 0.7919
Epoch 38/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4834 - accuracy: 0.7932
Epoch 39/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4784 - accuracy: 0.7933
Epoch 40/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4759 - accuracy: 0.7916
Epoch 41/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4794 - accuracy: 0.7926
Epoch 42/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4962 - accuracy: 0.7761
Epoch 43/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5085 - accuracy: 0.7535
Epoch 44/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4702 - accuracy: 0.7894
Epoch 45/75
804/804 [==============================] - 3s 3ms/step - loss: 0.4683 - accuracy: 0.7895
Epoch 46/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4683 - accuracy: 0.7932
Epoch 47/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4656 - accuracy: 0.7922
Epoch 48/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4622 - accuracy: 0.7936
Epoch 49/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4635 - accuracy: 0.7934
Epoch 50/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4640 - accuracy: 0.7926
Epoch 51/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4648 - accuracy: 0.7922
Epoch 52/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4701 - accuracy: 0.7780
Epoch 53/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4625 - accuracy: 0.7944
Epoch 54/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4619 - accuracy: 0.7953
Epoch 55/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4630 - accuracy: 0.7942
Epoch 56/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4632 - accuracy: 0.7940
Epoch 57/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4633 - accuracy: 0.7919
Epoch 58/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5272 - accuracy: 0.7192
Epoch 59/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4381 - accuracy: 0.7936
Epoch 60/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4450 - accuracy: 0.7944
Epoch 61/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4577 - accuracy: 0.7947
Epoch 62/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4477 - accuracy: 0.7944
Epoch 63/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4598 - accuracy: 0.7945
Epoch 64/75
804/804 [==============================] - 2s 3ms/step - loss: 0.6087 - accuracy: 0.6398
Epoch 65/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5129 - accuracy: 0.7261
Epoch 66/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4530 - accuracy: 0.7904
Epoch 67/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4428 - accuracy: 0.7909
Epoch 68/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4385 - accuracy: 0.7926
Epoch 69/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4388 - accuracy: 0.7909
Epoch 70/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4386 - accuracy: 0.7917
Epoch 71/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4369 - accuracy: 0.7915
Epoch 72/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4365 - accuracy: 0.7924
Epoch 73/75
804/804 [==============================] - 3s 3ms/step - loss: 0.4388 - accuracy: 0.7923
Epoch 74/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4432 - accuracy: 0.7928
Epoch 75/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4389 - accuracy: 0.7919

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4551 - accuracy: 0.7826 - 501ms/epoch - 2ms/step
Loss: 0.45509228110313416, Accuracy: 0.7826238870620728

In [32]:
# Define the model - Second attempt, adding in a third hidden layer 
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  90
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn2 = tf.keras.models.Sequential()

# First hidden layer
nn2.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn2.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Third hidden layer
nn2.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn2.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Check the structure of the model
nn2.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 90)                23310

 dense_16 (Dense)            (None, 30)                2730

 dense_17 (Dense)            (None, 10)                310

 dense_18 (Dense)            (None, 1)                 11

=================================================================
Total params: 26361 (102.97 KB)
Trainable params: 26361 (102.97 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [33]:
# Compile the model
nn2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [34]:
# Train the model -second attempt

mc2 = keras.callbacks.ModelCheckpoint('my_best_model.hdf5', 
                                     save_weights_only=True, period=5)


fit_model = nn2.fit(X_train_scaled,y_train,epochs=75, callbacks=[mc])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/75
804/804 [==============================] - 3s 2ms/step - loss: 0.6966 - accuracy: 0.7452
Epoch 2/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7776
Epoch 3/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5136 - accuracy: 0.7789
Epoch 4/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5003 - accuracy: 0.7775
Epoch 5/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4953 - accuracy: 0.7781
Epoch 6/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4924 - accuracy: 0.7763
Epoch 7/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4766 - accuracy: 0.7855
Epoch 8/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4713 - accuracy: 0.7871
Epoch 9/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4696 - accuracy: 0.7852
Epoch 10/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4666 - accuracy: 0.7871
Epoch 11/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4686 - accuracy: 0.7873
Epoch 12/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4695 - accuracy: 0.7863
Epoch 13/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4696 - accuracy: 0.7866
Epoch 14/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4695 - accuracy: 0.7885
Epoch 15/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4690 - accuracy: 0.7871
Epoch 16/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4676 - accuracy: 0.7874
Epoch 17/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4714 - accuracy: 0.7879
Epoch 18/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4703 - accuracy: 0.7881
Epoch 19/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4690 - accuracy: 0.7863
Epoch 20/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4621 - accuracy: 0.7896
Epoch 21/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4595 - accuracy: 0.7900
Epoch 22/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4590 - accuracy: 0.7893
Epoch 23/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4587 - accuracy: 0.7892
Epoch 24/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4574 - accuracy: 0.7919
Epoch 25/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4497 - accuracy: 0.7900
Epoch 26/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4514 - accuracy: 0.7901
Epoch 27/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4517 - accuracy: 0.7898
Epoch 28/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4504 - accuracy: 0.7902
Epoch 29/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4494 - accuracy: 0.7904
Epoch 30/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4487 - accuracy: 0.7888
Epoch 31/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4490 - accuracy: 0.7902
Epoch 32/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4488 - accuracy: 0.7913
Epoch 33/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4494 - accuracy: 0.7913
Epoch 34/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4486 - accuracy: 0.7918
Epoch 35/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4494 - accuracy: 0.7923
Epoch 36/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4486 - accuracy: 0.7908
Epoch 37/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4468 - accuracy: 0.7922
Epoch 38/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4477 - accuracy: 0.7918
Epoch 39/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4468 - accuracy: 0.7930
Epoch 40/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4477 - accuracy: 0.7919
Epoch 41/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4492 - accuracy: 0.7917
Epoch 42/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4587 - accuracy: 0.7888
Epoch 43/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4578 - accuracy: 0.7923
Epoch 44/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4642 - accuracy: 0.7927
Epoch 45/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4593 - accuracy: 0.7930
Epoch 46/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4570 - accuracy: 0.7936
Epoch 47/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4572 - accuracy: 0.7928
Epoch 48/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4572 - accuracy: 0.7942
Epoch 49/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4591 - accuracy: 0.7935
Epoch 50/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4620 - accuracy: 0.7932
Epoch 51/75
804/804 [==============================] - 3s 3ms/step - loss: 0.4611 - accuracy: 0.7926
Epoch 52/75
804/804 [==============================] - 3s 4ms/step - loss: 0.4577 - accuracy: 0.7932
Epoch 53/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4593 - accuracy: 0.7943
Epoch 54/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4600 - accuracy: 0.7939
Epoch 55/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4591 - accuracy: 0.7938
Epoch 56/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4567 - accuracy: 0.7927
Epoch 57/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4596 - accuracy: 0.7948
Epoch 58/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4604 - accuracy: 0.7954
Epoch 59/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4601 - accuracy: 0.7944
Epoch 60/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4618 - accuracy: 0.7934
Epoch 61/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4635 - accuracy: 0.7948
Epoch 62/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4695 - accuracy: 0.7937
Epoch 63/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4671 - accuracy: 0.7930
Epoch 64/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4660 - accuracy: 0.7950
Epoch 65/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4648 - accuracy: 0.7954
Epoch 66/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4568 - accuracy: 0.7944
Epoch 67/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4575 - accuracy: 0.7944
Epoch 68/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4584 - accuracy: 0.7949
Epoch 69/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4569 - accuracy: 0.7956
Epoch 70/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4520 - accuracy: 0.7935
Epoch 71/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4515 - accuracy: 0.7959
Epoch 72/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4524 - accuracy: 0.7936
Epoch 73/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4510 - accuracy: 0.7937
Epoch 74/75
804/804 [==============================] - 2s 2ms/step - loss: 0.4506 - accuracy: 0.7954
Epoch 75/75
804/804 [==============================] - 2s 3ms/step - loss: 0.4502 - accuracy: 0.7945

In [35]:
# Evaluate the model using the test data - marginally less accurate and marginally more loss. First model is better.
model_loss, model_accuracy = nn2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4982 - accuracy: 0.7818 - 596ms/epoch - 2ms/step
Loss: 0.49822819232940674, Accuracy: 0.7818076014518738

In [37]:
# Export our model to HDF5 file

nn.save("AlphabetSoupCharity_Optimization.hdf5")

# Optimising the code
After failing to get any significant optimisation through usual means, changing the neurons and layers, and changing the activations, I changed the level of binning, which also had little effect.
The final change that had the most successful change in optimisation was not dropping the "Name" column, and instead, keeping it and binning those names together with fewer than 10 values (applications). This increased the accuracy of the model above the requested 75%.