## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from keras.callbacks import Callback
import keras
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head(50)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10,10573059,KAI ELUA OUTRIGGER CANOE CLUB,T3,Independent,C1200,Preservation,Trust,1,25000-99999,N,69656,0
11,10575727,HERITAGE ACADEMY,T3,Independent,C2000,Preservation,Trust,1,100000-499999,N,165593,0
12,10583569,THE UNITED STATES PONY CLUBS INC,T3,CompanySponsored,C1200,Preservation,Association,1,0,N,5000,1
13,10585206,DOMINION INTERNATIONAL NETWORK OF MINISTRIES &...,T3,Independent,C2700,Preservation,Trust,1,25000-99999,N,5301,1
14,10585443,V O W FOUNDATION,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
15,10596727,JOSEPH E PEEBLES JR FOUNDATION,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
16,10602428,WASHINGTON ASSOCIATION OF PHYSICIANS OF INDIAN...,T3,Independent,C2000,Preservation,Trust,1,0,N,5000,1
17,10603214,SAINT FRANCIS HOSPITAL SOUTH LLC,T3,Independent,C1000,Heathcare,Trust,1,50M+,N,86380556,0
18,10604986,ANCHORAGE COMMUNITY MENTAL HEALTH SERVICES,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
19,10605038,HABITAT FOR HUMANITY INTERNATIONAL INC,T3,CompanySponsored,C1000,Preservation,Trust,1,100000-499999,N,376109,0
20,10608689,INTERNATIONAL FELINE SHOWCASE,T4,Independent,C3000,ProductDev,Trust,1,0,N,5000,1
21,10612407,METAMORPHASIS POWERHOUSE COMPANY,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
22,10614724,REACH FOR EXCELLENCE INC,T3,Independent,C7000,Preservation,Trust,1,100000-499999,N,318296,0
23,10622557,INTERNATIONAL ASSOCIATION OF LIONS CLUB,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
24,10623527,SONS OF CONFEDERATE VETERANS INC,T3,CompanySponsored,C1200,Preservation,Trust,1,0,N,5000,0
25,10629331,MAGDALENA OLD TIMERS REUNION ASSOCIATION,T4,Independent,C3000,ProductDev,Trust,1,0,N,5000,1
26,10631060,INFRAGARD NATIONAL MEMBERS ALLIANCE INC,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,1
27,10635952,POP WARNER LITTLE SCHOLARS INC,T3,CompanySponsored,C2000,Preservation,Trust,1,25000-99999,N,44004,1
28,10637680,FLORIDA STATE UNIVERSITY ALUMNI ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
29,10637829,HAWAII TRAVEL & TOURISM RESEARCH ASSOCIATION,T6,Independent,C2000,ProductDev,Trust,1,0,N,5000,1
30,10637920,MEDICAL STAFF OF PARKVIEW COMMUNITY HOSPITAL M...,T6,Independent,C2000,ProductDev,Trust,1,100000-499999,N,323466,1
31,10638860,CLEAR UP SKIN CARE,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
32,10639038,STAR TOURING AND RIDING SACARMENTO CHAPTER 153,T7,Independent,C1000,ProductDev,Trust,1,0,N,5000,1
33,10641003,SHERIFFS COMMUNITY ORGANIZED POLICING EFFORTS,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,1
34,10642634,DOCTORS OFFERING CHARITABLE SERVICES,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,0
35,10648919,G A P MINISTRIES,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,0
36,10655941,MELLOWTONES BIG BAND INC,T4,Independent,C1000,ProductDev,Trust,1,0,N,5000,1
37,10656131,SAI HUMANITARIAN INSTITUTE OF LEARNING AND HEA...,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
38,10656251,RIVERVIEW 2,T7,Independent,C1000,ProductDev,Association,1,0,N,5000,0
39,10656605,ERASTO R BATONGMALAQUE FOUNDATION,T3,Independent,C1000,Preservation,Trust,1,25000-99999,N,5000,1
40,10662680,TIFTON JUDICIAL CIRCUIT SHELTER INC,T3,Independent,C1000,Preservation,Trust,1,25000-99999,N,709815,0
41,10664127,IBEW LOCAL 180 HOLDING COMPANY,T2,Independent,C1000,ProductDev,Trust,1,25000-99999,N,1329410,0
42,10669807,ORLANDO PARROT HEADS OF CENTRAL FLORIDA INC,T7,Independent,C1000,ProductDev,Trust,1,0,N,5000,1
43,10671224,HABITAT FOR HUMANITY INTERNATIONAL INC,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
44,10672368,HOLY SPIRIT CHURCH AND INSTITUTE INC,T3,Independent,C7200,Preservation,Trust,1,0,N,5000,1
45,10681022,K-9 SEARCH AND RESCUE OF ORANGE CITY INC,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
46,10681362,PTA TEXAS CONGRESS,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
47,10687111,SOUTHERN CALIFORNIA NATURIST ASSOCIATION,T7,Independent,C1000,ProductDev,Trust,1,0,N,5000,0
48,10691782,MOSES SONG MINISTRIES,T3,Independent,C1700,Preservation,Trust,1,0,N,5000,1
49,10692183,VINCI PARK HOME AND SCHOOL CLUB,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,0

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN", "NAME", "USE_CASE"], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,Association,1,0,N,5000,1
1,T3,Independent,C2000,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
uniqueValues = application_df.nunique()
print(uniqueValues)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_count = application_df['APPLICATION_TYPE'].value_counts()
print(app_count)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_count[app_count <500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was success
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_count[classification_count <1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Look at INCOME_AMT value counts for binning
classification_count = application_df['INCOME_AMT'].value_counts()
classification_count

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [9]:
# # Choose a cutoff value and create a list of classifications to be replaced
# # use the variable name `classifications_to_replace`
# classifications2_to_replace = list(classification_count[classification_count <4000].index)

# # Replace in dataframe
# for cls in classifications2_to_replace:
#     application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(cls,"Other2")
    
# # Check to make sure binning was successful
# application_df['INCOME_AMT'].value_counts()

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_df = pd.get_dummies(application_df)
numeric_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
y = numeric_df["IS_SUCCESSFUL"].values

X = numeric_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\rhian\AppData\Local\Temp\ipykernel_23800\2514630469.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = numeric_df.drop(["IS_SUCCESSFUL"],1).values

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  76
hidden_nodes_layer2 = 40
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
     tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
 )

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 76)                2964

 dense_5 (Dense)             (None, 40)                3080

 dense_6 (Dense)             (None, 10)                410

 dense_7 (Dense)             (None, 1)                 11

=================================================================
Total params: 6465 (25.25 KB)
Trainable params: 6465 (25.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model (Adding in here the saving weights every 5 epochs - code thanks to umotto on : 
# https://stackoverflow.com/questions/51186330/save-model-weights-at-the-end-of-every-n-epochs), also 
# https://medium.com/@italojs/saving-your-weights-for-each-epoch-keras-callbacks-b494d9648202

mc = keras.callbacks.ModelCheckpoint('my_best_model.hdf5', 
                                     save_weights_only=True, period=5)


fit_model = nn.fit(X_train_scaled,y_train,epochs=75, callbacks=[mc])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/75
804/804 [==============================] - 2s 2ms/step - loss: 8.2084 - accuracy: 0.4679
Epoch 2/75
804/804 [==============================] - 1s 2ms/step - loss: 8.2084 - accuracy: 0.4679
Epoch 3/75
804/804 [==============================] - 1s 2ms/step - loss: 8.2084 - accuracy: 0.4679
Epoch 4/75
577/804 [====================>.........] - ETA: 0s - loss: 8.1853 - accuracy: 0.4693

KeyboardInterrupt:

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
location = 'D:\Bootcamp\Classwork\deep-learning-challenge\AlphabetSoupCharity.h5'

nn.save(location)
# model.save(nn.keras)

In [ ]:
nn.save('nn.keras')

# Optimising the code
The first test results in a lost of 55%, and accuracy of 72.5%, indicating that the model needs to be optimised